.main-wrapper {
    height: 100vh;
}

.nav-pills .nav-link {
    border-radius: 0;
}

.tab-content-margin {
    margin-top: 1em;
}

.overflow-content {
    overflow: scroll;
}

.refresh-box {
    position: absolute;
    top: 1em;
    right: 1em;
}

.mw-30 {
    max-width: 30%;
}

#navmenu {
    min-width: 15%;
}

.table-align-start td {
    vertical-align: top;
}

.table-pr-2 td {
    padding-right: .5rem!important;
}